*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
.App{
    min-height: 100vh;
    color: whitesmoke;
    background-color: #303030;
}